attrs==25.1.0
clang==20.1.0
frozenlist==1.5.0
gensim==4.1.2
huggingface-hub==0.23.0
NumPy == 1.26.0
python==3.10.0
packaging==24.0
panda==0.3.1
pandas==2.2.2
scikit-learn==1.4.2
scipy==1.10.1
tokenizers==0.19.1
torch==2.0.1
torch-geometric==2.6.1
torch_cluster==1.6.3
torch_scatter==2.1.2
torch_sparse==0.6.18
torch_spline_conv==1.2.2
torchaudio==2.0.2
torchvision==0.15.2
tqdm==4.66.4
transformers==4.40.2
tree_sitter==0.20.1
